{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Privacy Policy</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Privacy Policy</a>
        </div>
    </div>
</div>
<!-- Actual Privacy Policy-->
<div class="container mt-5">

  <h1 class="text-center">Privacy Policy</h1>

  <h2>1. Introduction</h2>

  <p>White Care Nursing Agency Pty Ltd is committed to managing personal information in accordance with the Privacy Act 1988 and Australian Privacy Principles. This concise policy pertains to information collected by White Care Nursing Agency Pty Ltd.</p>

  <p>We only collect information that is reasonably necessary for the proper performance of our activities or functions. We refrain from collecting personal information unless we have a present need for it, rather than speculating its potential future usefulness.</p>

  <p>Unsolicited personal information may be declined and removed from our systems. By following the links in this document, you can learn about how we manage your personal information under the Australian Privacy Principles (APPs) and the associated information flows. For any inquiries, please don't hesitate to <a href="{% url 'contact-us' %}">contact us</a>.</p>

  <h4>1.1. APP Entity</h4>

  <p>White Care Nursing Agency Pty Ltd manages personal information as an APP Entity, adhering to the Australian Privacy Principles (APPs). While primarily a contracted service provider to various government agencies, we may occasionally collect and manage personal information under different privacy arrangements. Please <a href="{% url 'contact-us' %}">contact us</a> if you need to determine its applicability to you.</p>

  <h4>1.2. Information Flow</h4>

  <p>When collecting your personal information:</p>
  <ul>
      <li>We ensure it's reasonably necessary for our on-hire firm and healthcare staff provider functions.</li>
      <li>We verify its currency, completeness, and accuracy, sometimes cross-checking with third parties.</li>
      <li>Your information is stored in our Information Record System, with some information disclosed to overseas recipients.</li>
      <li>We access and use your information for our functions and activities, verifying its accuracy if time has passed.</li>
      <li>In accordance with APP:12, you're granted access to your personal information, subject to exceptions.</li>
      <li>Under APP:13, we correct or attach statements to your personal information.</li>
      <li>Once no longer needed and if lawful, we de-identify or destroy your personal information. Information in Commonwealth Records is not destroyed or de-identified.</li>
  </ul>

  <h2>2. Types of Collected Information</h2>
  <p>The personal information we collect and hold varies based on your role as:</p>
  <ul>
    <li>A Workseeker</li>
      <li>A Client</li>
     <li>A Referee</li>
  </ul>

  <h4>2.1. For Workseekers</h4>

<p>For Workseekers, we collect and hold information necessary to assess work offers, availability, 
  placement suitability, and manage work performance. This includes qualification, experience, and work history details.</p>

<h4>2.2. For Clients</h4>

<p>We collect and hold information from Clients essential for managing service presentation and delivery. 
This covers work environment, client history, and work requirements.</p>

<h4>2.3. For Referees</h4>

<p>Referee information aids in determining Workseeker suitability for specific jobs or work types. 
This encompasses work relationship details and assessments.</p>
<h2>3. Purposes</h2>
    <p>The purposes for collecting, holding, using, and disclosing your personal information differ based on whether you
        are:</p>
    <ul>
        <li>a Workseeker;</li>
        <li>a Client;</li>
        <li>a Referee.</li>
    </ul>

    <p>Direct Marketing and Overseas Disclosures also play a role in our use and disclosure of your personal information:
    </p>

    <h4>3.1. For Workseekers</h4>
    <p>Information about Workseekers is collected, held, used, and disclosed for:</p>
    <ul>
        <li>work placement operations;</li>
        <li>recruitment functions;</li>
        <li>statistical purposes and statutory compliance requirements.</li>
    </ul>

    <h4>3.2. For Clients</h4>
    <p>Personal information about Clients is typically collected, held, used, and disclosed for:</p>
    <ul>
        <li>client and business relationship management;</li>
        <li>recruitment functions;</li>
        <li>marketing services;</li>
        <li>statistical purposes and statutory compliance requirements.</li>
    </ul>

    <h4>3.3. For Referees</h4>
    <p>Personal information about Referees is collected, held, used, and disclosed for:</p>
    <ul>
        <li>confirming identity and authority for providing references;</li>
        <li>assessing Workseeker suitability;</li>
        <li>recruitment functions.</li>
    </ul>

    <h4>3.4. Our Policy on Direct Marketing</h4>
    <p>We may use personal information for marketing purposes:</p>
    <ul>
        <li>We do not obtain customer lists from third parties or share them for marketing purposes;</li>
        <li>We comply with anti-spam legislation;</li>
        <li>Personal information might be used for telephone marketing, and individuals can choose to stay on a
            telephone marketing contact plan.</li>
    </ul>
    <h2>4. How Your Personal Information Is Collected</h2>
    <p>The means of collecting your personal information vary based on whether you are:</p>
    <ul>
        <li>a Workseeker;</li>
        <li>a Client;</li>
        <li>a Referee.</li>
    </ul>
    
    <p>We may collect information from third parties and publicly available sources when necessary, and sometimes
        technology used for communications may provide us with personal information. Electronic Transactions and
        Photos & Images also have implications on the collection of personal information:</p>

    <h4>4.1. For Workseekers</h4>
    <p>Personal information is collected directly when you submit application forms or related information. It is also
        collected from references, competency or medical test results, performance feedback, complaints, workplace
        accident information, and additional information provided by you.</p>

    <h4>4.2. For Clients</h4>
    <p>Personal information about Clients may be collected when provided for business or related social purposes.</p>

    <h4>4.3. For Referees</h4>
    <p>Personal information about Referees is collected in the course of checking Workseeker references and checking
        information obtained from Referees about Workseekers.</p>

    <h4>4.4. Photos & Images</h4>
    <p>We won't request photographs, scanned photo IDs, or video image data unless necessary.</p>

    <h4>4.5. Electronic Transactions</h4>
    <p>We collect personal information through online forms or email submissions for various purposes. Internet use risks
        are acknowledged, and precautions are advised.</p>
    
    <!-- Point 5 -->
    <h2>5. How Your Personal Information Is Held</h2>
    <p>Personal information is held in our Information Record System until it's no longer needed, after which it's
        de-identified or destroyed, if lawful.</p>

    <h4>5.1. Our Information Record System</h4>
    <p>Our consulting database, Venus, is used for client and candidate information. Client job descriptions are kept
        electronically, and hard copies of information are filed. Cloud storage is also utilized.</p>

    <h4>5.2. Information Security</h4>
    <p>We take various measures to protect personal information against misuse, interference, loss, unauthorized
        access, modification, or disclosure.</p>
        <h2>6. Disclosures</h2>
        <p>We may disclose your personal information for primary or lawful related purposes, and when we are legally obligated to do so. Disclosures may include internal sharing, sharing with related entities, clients, and referees:</p>
    
        <h4>6.1. Related Purpose Disclosures</h4>
        <p>We engage contracted service suppliers (CSPs) for various services. CSPs may access some personal information, and we ensure they uphold privacy obligations.</p>
    
        <h4>6.2. Cross-Border Disclosures</h4>
        <p>Some personal information might be disclosed to overseas recipients. We cannot guarantee recipient protection, and consent for disclosure might be sought.</p>
        
        <!-- Point 7 -->
        <h2>7. Access & Correction</h2>
        <p>You can access your personal information, subject to exceptions like evaluative opinion material and impacting others' privacy. Correction requests are considered, and we take steps to ensure accuracy:</p>
    
        <h4>7.1. Access Policy</h4>
        <p>Contact our Privacy Co-ordinator to request access to your personal information, verifying your identity. Access may be refused if it breaches confidentiality or others' privacy.</p>
    
        <h4>7.2. Correction Policy</h4>
        <p>If your personal information is inaccurate or incomplete, you can ask us to correct it. If we've disclosed inaccurate information, we'll notify relevant parties. </p>
        

  <!-- More sections... -->

</div>
<!-- Hero End -->
{% endblock content %}