{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Services</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Services</a>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Services Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-9">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Services</h5>
                    <h6 class="mb-0">We leverage our years of healthcare experience to provide quality care tailored to your needs. Our passionate staff finds joy in serving the healthcare community.</h6>
                </div>
                <h4 class="text-body mb-4">At White Care Nursing, we view it as a privilege to assist you.</h4>
                <p class="mb-4">Utilizing our extensive healthcare experience, we are dedicated to providing quality care that caters to your specific needs. 
                    Our staff takes genuine delight in working within the healthcare field, exhibiting outgoing and friendly personalities, 
                    dependability, and showing patience and empathy towards both your customers and their families.</p>
            </div>
            <div class="col-lg-3" style="min-height: 300px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/service-4.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Our Workforce</h1>
        <h4>1. To be a part of White Care Nursing staff</h4>
        <p>At White Care Nursing, it's more than just a name; we genuinely care. Our foundation is built on compassion, respect, and integrity, and these principles hold significant meaning to us. Our staff are carefully selected based on their dedication to these values, ensuring that each team member is passionate about their work, possesses a genuine interest in healthcare, and strives to make a positive impact on their communities. We value a strong work ethic and seek individuals who thrive in collaborative team environments. Above all, the White Care Nursing staff wholeheartedly embrace and commit to our mission, vision, and core values.</p>
        <h4>2. Staff Recruitment</h4>
        <p>We hold the belief that everyone we work with and care for deserves the utmost excellence, and we take pride in sourcing the very best individuals for the job. To uphold our reputation, we have implemented rigorous recruitment and pre-screening procedures. These processes ensure that our staff possess the ideal blend of experience, qualifications, and attitude to meet both our high standards and the specific needs of our clients.</p>
        <h6>Employment background checks:</h6>
        <ul class="two-column-list">
          <li><i class="fas fa-arrow-right"></i>  Face-to-face or online interview</li>
          <li><i class="fas fa-arrow-right"></i>  Minimum six months of post qualification paid experience</li>
          <li><i class="fas fa-arrow-right"></i>  Employment checks</li>
          <li><i class="fas fa-arrow-right"></i>  100 Point ID check</li>
          <li><i class="fas fa-arrow-right"></i>  Minimum Two Professional Reference check</li>
          <li><i class="fas fa-arrow-right"></i>  National Police check</li>
          <li><i class="fas fa-arrow-right"></i>  Working with Children check</li>
          <li><i class="fas fa-arrow-right"></i>  Working with Vulnerable People check</li>
          <li><i class="fas fa-arrow-right"></i>  Work rights check</li>
          <li><i class="fas fa-arrow-right"></i>  AHPRA Registration check for Nurses and Midwives</li>
          <li><i class="fas fa-arrow-right"></i>  Completed Statutory Declaration</li>
          <li><i class="fas fa-arrow-right"></i>  Immunisation</li>
          <li><i class="fas fa-arrow-right"></i>  Annual flu vaccination certificate</li>
          <li><i class="fas fa-arrow-right"></i>  Covid Vaccination</li>
          <li><i class="fas fa-arrow-right"></i>  NDIS Screening Check</li>
        </ul>
        <h4>3. Safeguarding Safety and Wellbeing</h4>
        <p>
            At White Care Nursing, we firmly believe that providing the very best is a responsibility we cherish. Our reputation is founded on sourcing exceptional individuals for the job. To achieve this, we follow stringent recruitment and pre-screening processes, ensuring our staff possess the right mix of experience, qualifications, and attitude to meet both our high standards and the unique needs of our clients.
        </p>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Our Promise</h1>
        <!-- Image and Point 1 -->
        <div class="row my-4">
            <div class="col-md-4">
              <img src="{% static 'img/service-3.jpg' %}" alt="Long Image" class="img-fluid stretch-image">
            </div>
            <div class="col-md-8">
              <p>We offer access to a dedicated team of qualified, enthusiastic, and experienced staff who consistently deliver high-quality care. Our approach involves carefully matching the skills of our staff to meet your specific customer needs. You can rely on our services, as we are committed to fulfilling our promises and ensuring the job gets done.</p>
              <p> We provide a comprehensive solution for all your staffing shortages, offering personnel for both casual and permanent appointments. Our focus is on client satisfaction, and the recognition of our excellent service by our clients is our most valuable testament.
              </p>
              <p>Our support extends to regional and remote locations. This enables us to source staff to support clients in various geographical areas.</p>
              <p>Moreover, we understand the importance of continuous support, which is why our team is available 24/7. Whether it's weekdays, nights, weekends, or public holidays, you can count on us. Our lines are open round the clock, ensuring that we are always available to answer your calls and attend to your requirements promptly.</p>
              <!-- Add more points as needed -->
            </div>
          </div>
      </div>
    </div>
</div>


{% endblock content %}